<app-layout>
    <section class="container mx-auto">
        <h1>Frontend Code Challange</h1>
        <div>
            <p>
                - This work is an example of Angular V15.x Application
                integrated with Material Design Bootstrap. <br />
                - The application is linted With Eslint as Tslint considerst to
                be deprecated and Eslint will the standard of linting JavaScript
                and TypeScript in future.<br />
                - The application is tested with Karma and Jasmine. <br />
                - The application is using the new futures of Angular V15.x
                like:
            </p>
            <ul>
                <li>Standalone components</li>
                <li>NgOptimizedImage directive</li>
            </ul>
        </div>
    </section>
</app-layout>
