<mdb-card>
    <!--Card image-->
    <mdb-card-img
        src="{{
            speaker.picture.medium ||
                'https://mdbcdn.b-cdn.net/img/Photos/Others/photo6.jpg'
        }}"
        alt="{{ speaker.name.title }} 
        {{ speaker.name.first }} 
        {{ speaker.name.last }}"
        class="waves-light"
        mdbWavesEffect
    >
        <a href="#!">
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
    </mdb-card-img>

    <!--Card content-->
    <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
            <h4>
                {{ speaker.name.title }}
                {{ speaker.name.first }}
                {{ speaker.name.last }}
            </h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
            <h5 class="blue-text pb-2">
                <strong>{{ speaker.email }}</strong>
            </h5>
            <p class="card-text">{{ speaker.location.city }}</p>
        </mdb-card-text>

        <div class="text-left">
            <a mdbBtn color="primary" mdbWavesEffect (click)="onView()">
                View Details
            </a>
        </div>
    </mdb-card-body>
</mdb-card>
