<mat-card>
    <mat-card-header>
        <div
            mat-card-avatar
            [ngStyle]="{
                'background-image': 'url(' + speaker.picture.thumbnail + ')'
            }"
        ></div>
        <mat-card-title>
            {{ speaker.name.title }}
            {{ speaker.name.first }}
            {{ speaker.name.last }}
        </mat-card-title>
        <mat-card-subtitle>
            <strong>{{ speaker.email }}</strong>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions align="end">
        <button mat-button color="primary" (click)="onView()">
            View Details
        </button>
    </mat-card-actions>
</mat-card>
