<div mat-dialog-title>
    <div class="flex items-center">
        <mat-icon class="mr-2">speaker</mat-icon>
        <span class="flex-grow">
            {{ speaker.name.title }}
            {{ speaker.name.first }}
            {{ speaker.name.last }}
        </span>
        <button mat-icon-button aria-label="Close" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
    <div class="flex gap-4">
        <img
            mat-card-image
            src="{{ speaker.picture.large }}"
            alt="{{ speaker.name.title }} 
        {{ speaker.name.first }} 
        {{ speaker.name.last }}"
        />
        <div>
            <div class="flex items-center">
                <mat-icon class="mr-2">email</mat-icon>
                <span class="flex-grow">{{ speaker.email }}</span>
            </div>
            <div class="flex items-center">
                <mat-icon class="mr-2">phone</mat-icon>
                <span class="flex-grow">{{ speaker.phone }}</span>
            </div>
            <div class="flex items-center">
                <mat-icon class="mr-2">phone_iphone</mat-icon>
                <span class="flex-grow">{{ speaker.cell }}</span>
            </div>
            <div class="flex items-center">
                <mat-icon class="mr-2">cake</mat-icon>
                <span class="flex-grow">
                    {{ speaker.dob.date | date : 'mediumDate' }}
                </span>
            </div>
            <div class="flex items-center">
                <mat-icon class="mr-2">location_on</mat-icon>
                <span class="flex-grow">
                    {{ speaker.location.city }},
                    {{ speaker.location.state }}
                </span>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button
        mat-raised-button
        color="primary"
        mat-dialog-close
        aria-label="Close"
    >
        Close
    </button>
</mat-dialog-actions>
