<app-layout>
    <section class="container mx-auto">
        <!--Section heading-->
        <h1>Speakers</h1>
    </section>
    <section class="container mx-auto">
        <div class="loading" *ngIf="loading$ | async">
            <span class="loader"></span>
        </div>

        <div class="flex">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="Search"
                    [(ngModel)]="searchText"
                />
            </mat-form-field>

            <mat-paginator
                class="flex-grow"
                (page)="onPaginateChange($event)"
                [length]="1000"
                [pageSize]="pageSize"
                [showFirstLastButtons]="showFirstLastButtons"
                [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="pageIndex"
                aria-label="Select page"
            >
            </mat-paginator>
        </div>

        <!-- Display the speakers list -->
        <div
            [@inOutAnimation]
            class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3"
        >
            <div
                *ngFor="
                    let speaker of speakers$ | async | searchFilter : searchText
                "
            >
                <speaker-card
                    [speaker]="speaker"
                    (view)="onSpeakerView($event)"
                ></speaker-card>
            </div>
        </div>

        <mat-paginator
            (page)="onPaginateChange($event)"
            [length]="1000"
            [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="pageIndex"
            aria-label="Select page"
        >
        </mat-paginator>
    </section>
</app-layout>
