<div mat-dialog-title>
    <div class="flex items-center">
        <span class="flex-grow">{{ heading }}</span>
        <button mat-icon-button aria-label="Close" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
    <p>{{ content }}</p>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
    <button mat-raised-button color="primary" (click)="onContirm()">
        Contirm
    </button>
</mat-dialog-actions>
